In [27]:
from pandas_datareader  import data
from bokeh.plotting import figure, show, output_file
from bokeh.models.annotations import Title
import datetime


start = datetime.datetime(2016,3,1)
end = datetime.datetime(2016,3,10)

df = data.DataReader(name="AAPL", data_source="yahoo", start=start, end=end)
df

                 High        Low       Open      Close     Volume  Adj Close
Date
2016-03-01  25.192499  24.355000  24.412500  25.132500  201628400  23.451281
2016-03-02  25.222500  24.910000  25.127501  25.187500  132678400  23.502602
2016-03-03  25.427500  25.112499  25.145000  25.375000  147822800  23.677561
2016-03-04  25.937500  25.342501  25.592501  25.752501  184220400  24.029806
2016-03-07  25.707500  25.240000  25.597500  25.467501  143315600  23.763876
2016-03-08  25.440001  25.100000  25.195000  25.257500  126247600  23.567921
2016-03-09  25.395000  25.067499  25.327499  25.280001  108806800  23.588915
2016-03-10  25.559999  25.037500  25.352501  25.292500  134054400  23.600578

In [23]:
date_increase = df.index[df.Close > df.Open]
date_decrease = df.index[df.Close < df.Open]

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
               '2016-03-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [31]:
p = figure(x_axis_type='datetime', width=1000, height=300)
t = Title()
t.text = 'Candlestick Chart'

#p.title="Candlestick Chart"

hours_12 = 12*60*60*1000
p.rect(df.index[df.Close > df.Open],(df.Open + df.Close)/2, hours_12, abs(df.Open-df.Close), fill_color="green", line_color="black")
p.rect(df.index[df.Close < df.Open],(df.Open + df.Close)/2, hours_12, abs(df.Open-df.Close), fill_color="red", line_color="black")
output_file("CS.html")
show(p)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 5), ('y', 8)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 8), ('x', 5), ('y', 8)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 3), ('y', 8)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 8), ('x', 3), ('y', 8)